<header>
    <h2>
    Fornecedor
</h2>
</header>
<head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="index.html">Index <span class="sr-only"></span></a>
            <a class="nav-item nav-link" href="list.html">Fornecedor</a>
           
      





      </nav>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Telefone</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Luiz Gomez</td>
            <td>luiz_gomez@estudante.sc.senai.br</td>
            <td>AAAAAAAAAAAA SENAI</td>
          </tr>
          <tr>
    
          </tr>
        </tbody>
      </table>
</head>